<!DOCTYPE html>
<html >

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Toxic Comment Classifier</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<img width="100%" src="https://drive.google.com/uc?export=view&id=1iBXuQ2PnP6BnLz1rv15bOi-IEiRo_8IZ"/>
<p class="videostats">23.764 visualizações * 30 de jun. de 2021</p>
<img class="likearea" src="https://drive.google.com/uc?export=view&id=1acS2puIU5JB-F16tU8mbhsCXs6SYy1FT" />

<img class="vid" src="https://drive.google.com/uc?export=view&id=1REZQI5mYw5XFMhLla8Et5BfDH_jv0J3q" />


<hr class="line" style= top:-10px;>

<img class="profile-icon" src="https://drive.google.com/uc?export=view&id=1a3C_al7OAB9La3J3a7K5FTaciWDM-gz7" />
<p class='channel-name'>Keysi Machine Teacher</p>
<body>
  <button type="button" class='conecte-bt' onclick="showImage()" >CONECTE-SE</button>
  <p class='body' style=top:115%;> → Uso de Rede Neural para NLP</p>
  <p class='body' style=top:120%> → Projeto de conclusão de curso Awari 08/2021</p>
  <p class='body' style=top:125%> → Agradecimento especial para Fernando Wittman</p>
  <p class='body' style=top:130%> → LinkedIn: in/keysisantos/ </p>

</body>
<p class='show-more' style=top:25px> MOSTRAR MAIS </p>
<hr class="line" style= top:30px;>

<form action="{{ url_for('predict')}}" method="post">
  <input name="comment" type="text" placeholder="Adicionar um comentário público..."/>
  <input type="submit" value="COMENTAR"/>
</form>

<img class="qrcode" id="qrcode" src="https://drive.google.com/uc?export=view&id=1m6yjy-hVipbM2O16IzmDt1dOyiUDbEAB" />
<script type="text/javascript">
  function showImage(){
    document.getElementById('qrcode').style.visibility="visible";}
</script> 

{{ prediction_text }}






















